doctype
html
	head
		title Edit Post - NYCDBxBSSA Basic Blog
		link(rel='stylesheet' href='/css/basicBlog.css')
	body

		div(id="header")
			a(href="/")
				h1 Welcome to a NYCDBxBSSA basic blog
	
		div(id="main")

			div(id="manageposts")
				h2 Your posts
				each post in allPosts
					div(class="managepost")
						div(class="managetitle")
							a(href="/singlepost/"+post.postID)= post.title
						div(class="removepost")
							a(href="/removepost/"+post.postID) X Remove Post
			
			div(id="editpostform")
				h2 Edit your post
				form(name="editPost" action="/editpost" method="post")
					input(type="hidden" name="postID" value=post.id)
					input(type="text" id="editformtitle" name="postTitle" value=post.title)
					br
					textarea(id="editformbody" name="postBody")= post.body
					br
					button(type="submit" id="editPost") Edit your post
			
		
		div(id="footer")
			
			div(id="accountinformation")
				h2 Account
				p You are currently logged in as:
				p= user
				form(name="logout" action="/logout" method="post")
					button(type="submit" id="logout" style="width: 350px;") Logout
			
			div(id="navigation")
				h2 Navigation
				div(class="navigationlink")
					a(href="/manageposts") Manage Posts
				div(class="navigationlink")
					a(href="/manageusers") Manage Users