doctype
html
	head
		title Edit User - NYCDBxBSSA Basic Blog
		link(rel='stylesheet' href='/css/basicBlog.css')
	body
		div(id="header")
			a(href="/")
				h1 Welcome to a NYCDBxBSSA basic blog
	
		div(id="main")

			div(id="edituserform")
				h2 Edit user
				form(name="editUser" action="/edituser" method="post")
					input(type="hidden" name="userID" value=usertoedit.id)
					div username
					input(type="text" name="userName" value=usertoedit.name)
					div password
					input(type="password" name="userPassword" value=usertoedit.password)
					div email
					input(type="text" name="userEmail" value=usertoedit.email)
					button(type="submit" id="submitPost") Edit user
		
		div(id="footer")
			
			div(id="accountinformation")
				h2 Account
				p You are currently logged in as:
				p= user
				form(name="logout" action="/logout" method="post")
					button(type="submit" id="logout" style="width: 350px;") Logout
			
			div(id="navigation")
				h2 Navigation
				div(class="navigationlink")
					a(href="/manageposts") Manage Posts
				div(class="navigationlink")
					a(href="/manageusers") Manage Users