#doctype
html
	head
		title NYCDBxBSSA Basic Blog Single Page
		link(rel='stylesheet' href='/css/basicBlog.css')
	body
		
		div(id="header")
			a(href="/")
				h1 Welcome to a NYCDBxBSSA basic blog
	
		div(id="main")
			
			div(id="singlepost")
				h2(id="singleposttitle")= post.title
				
				div(id="singlepostauthor")= post.authorname
				
				div(id="singlepostbody")= post.body
			
			div(id="comments")
				
				div(id="comment")
					h3 Comments
					each comment in allComments
						div(class="comment")= comment.body + " - " + comment.author
				
				div(id="commentform")
					h3 Add a comment
					form(name="newComment" action="/addcomment" method="post")
						input(type="hidden" name="commentPostID" value=postID)
						input(type="text" name="commentAuthor" style="width: 100%;" placeholder="Author")
						br
						input(type="text" name="commentBody" style="width: 100%;" placeholder="Comment")
						br
						button(type="submit" id="submitComment" style="width: 100%;") Submit your comment
		
		div(id="footer")
				
				div(id="accountinformation")
					h2 Account
					p You are currently logged in as:
					p= user
					form(name="logout" action="/logout" method="post")
						button(type="submit" id="logout" style="width: 350px;") Logout
				
				div(id="navigation")
					h2 Navigation
					div(class="navigationlink")
						a(href="/manageposts") Manage Posts
					div(class="navigationlink")
						a(href="/manageusers") Manage Users